
.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    box-shadow: 2px 2px 50px rgb(187, 180, 180);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    background-color: rgb(204, 234, 240);
}
h2{
    padding: 2rem;
}
.library-song{ 
    display: flex;
    align-items: center; 
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img{
        width: 70%;
    }
    &:hover{
        background: rgb(204, 234, 240);
    }

}

.song-description{
   padding-left: 1rem;
   color: cadetblue;
    h3{
       font-size: 1rem;
    }
    h4{
        font-size: 0.7rem;
    }
}
.selected{
    background-color: rgb(37, 240, 179);
}
.active-Library {
    transform: translateX(0%);
    opacity: 1;
}
@media screen and (max-width: 768px) {
    .library{
        width: 100%;
        
    }
}